{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'default_app/style.css' %}" type="text/css">
</head>
<body>
    <ul>
        <li><a href="{% url 'default_app:index' %}">Index</a></li>
        <li><a href="{% url 'default_app:search' %}">Search</a></li>
        <li><a href="{% url 'default_app:liked' %}">Liked videos</a></li>
    </ul>
    <h1>Test Index Page</h1>
    <h2>Come <a href="{% url 'default_app:search' %}">here</a> to search video</h2>

</body>
</html>